*{
  box-sizing: border-box;
  text-shadow: 0.5px 0.5px 4px wheat,1px 1px 5px rgba(230, 88, 173, 0.718);

}

.links{
  text-decoration: none;
  color: rgb(56, 5, 57);
  font-size: 1.35rem;
  text-shadow: 1.5px 1.5px rgb(205, 172, 237);
  font-family: cursive;
  background: rgb(224, 129, 241);
  display: inline;
  margin: 5px;
  box-shadow: 2px 2px rgb(130, 33, 33);
  border: 2px solid rgb(145, 32, 32);
  box-shadow: 0.5px 0.5px rgba(248, 237, 237, 0.478),1px 1px 10px 1px rgba(0, 0, 0, 0.448);
}
.links:hover{
  background: rgb(215, 35, 246);
  text-shadow: 1.5px 1.5px rgb(191, 144, 238);
  color: rgb(17, 8, 8);


}

.navbar{
  background-color: rgba(120, 9, 154, 0.66);
  box-shadow: 1px 10px 10px 10px rgba(0, 0, 0, 0.448),1px 10px 10px 1px rgba(0, 0, 0, 0.448);
  margin-bottom:20px ;
  position: sticky;
  top: 0px;
  /* opacity: 0.85; */
  z-index: 1000;
  /* height: 100px; */
}
.nav-container{
  
  display: flex;
  justify-content: space-evenly;

}
.scroll-button{
  border-color: rgb(10, 45, 76);
  border: 2px solid;
  background-color: rgb(89, 123, 247);
  box-shadow: 1px 1px rgb(37, 12, 12);

}

#name{
  font-size: 2rem;
  font-style: oblique;
  font-weight:bold;
  padding: 30px;
  text-shadow: 2px 2px 2px rgba(106, 84, 84, 0.596),2px 2px 2px rgba(106, 84, 84, 0.596),2px 2px 2px rgba(106, 84, 84, 0.596),2px 2px 2px rgba(106, 84, 84, 0.596),2px 2px 2px rgba(106, 84, 84, 0.596);
  color: rgb(255, 106, 0);
  
}

.auth{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.448);

}
.auth-line{
  height: 450px;
  width: 1px;
  border: 1px solid rgba(194, 51, 51, 0.556);
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.448);

  @media only screen and (max-width:1040px){
    display: none;
    /* width: 2px; */
  }
}
.login-container{
  padding: 20px;
  margin:50px ;
  /* display: inline; */
  border-radius: 10px;
  background-color: var(--bs-primary-border-subtle);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.448);

}
.register-container{
  padding: 20px;
  margin:50px ;
  margin-top: 50px;
  /* display: inline; */
  border-radius: 10px;
  background-color: var(--bs-primary-border-subtle);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.448);

}
.form-group{
  margin: 15px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.448);

}
.auth-heading{
  color: rgb(80, 41, 37);
  background-color:rgb(238, 156, 171);
  /* display: inline; */
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.448);
  padding: 5px;

}
.textbox{
  border: 1px solid blueviolet;
  /* background-color: #8f2626; */
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.448);
  margin: 5px;
}
.btn-auth{
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.448);
  margin-left: 15px;
}
.btn{
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.448);

}
.label{
  font-size: larger;
  margin: 10px;
  color: rgb(105, 35, 105) ;
  text-shadow: 1px 1px 2px rgba(130, 33, 33, 0.382);
  
}
.create-recipe{
  padding: 100px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, rgb(224, 76, 76), rgb(245, 174, 41),rgb(79, 79, 235),rgb(249, 87, 249));
}
.create-recipe-form{
  display: flex;
  flex-direction: column;
  margin:0px auto ;
justify-content: center;

padding: 20px;
box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.448);  background-color: #8084ff6e;
border-radius: 10px;
/* width: 500px; */
}
.createRecipe-heading{
  padding: 20px;
  font-size: 2rem;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
@keyframes example {
  0%   {background-color:rgba(255, 0, 0, 0.633);}
  25%  {background-color:rgba(249, 58, 134, 0.711);}
  50%  {background-color:rgba(234, 65, 35, 0.756)}
  75%  {background-color:rgba(236, 40, 141, 0.715);}
  100% {background-color:rgba(255, 0, 0, 0.74); }
}
.submit-btn{
  margin: 10px;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  border: none;
}
.image{
  /* margin: 10px; */
box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.448);
border-radius: 40px;
padding: 0px;
margin: 10px 0px;
margin-bottom: 15px;
/* box-shadow: 2px 2px black; */
}
.already-saved{
  font-size: 20px;
}
.save-btn{
  display: inline;
  /* width: 100px; */
  padding: 8px 20px;
  
}
.save-btn:disabled{
  text-shadow: none;
}
.home-container{
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
flex-direction: column;

  justify-content: center;
}
.recipe-container{
  margin-top: 50px;
}
.inline{
  display: inline-block;
}
.username{
  position: relative;
  color: rgb(247, 190, 31);
  text-decoration: underline;
}
.ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 2px solid rgba(0, 0, 0, 0.267); */
  justify-content: center;
}
.heading{
  color: rgb(122, 7, 7);
  text-shadow: 0.5px 0.5px 4px wheat;
  font-size: 2.5rem;
}
.recipe-name{
  text-align: center;
  /* margin-left:10px ; */
  font-size: 3.2rem;
  color: rgb(71, 9, 129);

}
.cookingtime{
  margin-top: 20px;
  margin-left: 0px;
  color: rgb(155, 22, 36);
  font-size: 2rem;
  text-shadow: 0.5px 0.5px 3px rgb(217, 247, 158);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.ingredients{
  text-shadow: 1px 1px 5px rgba(230, 88, 173, 0.718);
}
.instructions{
  text-shadow: 1px 1px 5px rgba(230, 88, 173, 0.718);
}
.scroll-button{
  margin: 5px;
}


@media only screen and (max-width:700px){
  .create-recipe{
      padding: 20px;
    }
    .label{
      font-size: 15px !important;
    }
    /* .scroll-button{
      position: absolute;
      margin-bottom: 70px;
      margin-left: 200px;
    } */
    #name{
      font-size: 1.5rem;
    }
    .createRecipe-heading{
      font-size: 1.5rem;
    }
    .links{
      font-size:1rem;
      margin: 3px;
    }
    .already-saved{
      font-size: 12px;
      color: rgb(66, 255, 45);
      font-style: italic;
    }
    .save-btn{
      font-size: 0.85rem !important;
      padding: 2px 5px !important;
      margin: 10px !important;
    }
    .heading{
      font-size: 1.5rem;
    }
    .recipe-name{
      font-size:2.2rem;
    }
}
@media only screen and (max-width:300px){

  #name{
    font-size: 1.3rem;
  }
}